*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: montserrat, Helvetica, sans-serif;
}

.container{
  height: 100vh;
  background-color: #222222;
}

nav{
  color: white;
  background-color: #1A1A1D;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav>div:nth-child(1){
  display: flex;
  align-items: center;
}

nav>div:nth-child(1)>img{
  height: 60px;
  width: 60px;
}

nav>div>h1{
  color: #E83F25;
  font-size: 30px;
}

nav>div>h1:hover{
  scale: 120%;
}

nav>div:nth-child(2){
  display: flex;
  gap: 40px;
}

nav>div>a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 19px;
}

nav>div>a:hover{
  color: #E83F25;
}

nav>div{
  display: inline-block;
}

.hamburger {
  display: none;
}

.nav-mobile {
  display: none;
}

@media (max-width:768px){
  nav{
    display: flex;
    align-items: center;
  }

  nav > div:first-child > h1{
    font-size: 25px;
  }

  nav > div:first-child > img {
    width: 50px;
    height: 50px;
  }

  nav>div:nth-child(2){
    display: none;
  }

  .hamburger {
    display: block;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .hamburger > img {
  height: 30px;
    width: 30px;
  }

  .nav-mobile, .on {
    background-color: #E83F25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    padding-left: 60px;
    gap: 15px;
  }

  .nav-mobile  > a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }

  .off {
    display: none;
  }
}
